.container {
  display: flex;
}

.main-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

.label {
  font-size: 16px;
  font-weight: 500;
  margin: 4px 0px;
  display: block;
}

.input {
  border: 1px solid #b3acac;
  border-radius: 5px;
  height: 22px;
  padding-left: 10px;
}

.btn-search {
  margin-right: 20px;
  height: 53px;
  margin-left: 10px;
}
