<form class="main-form">
  <mat-form-field>
    <mat-label>Search Hero by NAME</mat-label>
    <input matInput placeholder="Ex. Superman" [formControl]="searchByName">
  </mat-form-field>
  <button class="btn-search" type="button" mat-raised-button color="primary" (click)="searchHeroByName()">Search</button>
  <mat-form-field>
    <mat-label>Search Hero by ID</mat-label>
    <input matInput placeholder="47" [formControl]="searchById">
  </mat-form-field>
  <button class="btn-search" type="button" mat-raised-button color="primary" (click)="searchHeroById()">Search</button>

</form>

<div class="container" *ngIf="heroes.length">
  <div *ngFor="let hero of heroes">
    <hero-card [heroName]="hero.name" [heroImage]="hero.image.url"></hero-card>
  </div>
</div>