<div class="container">
  <mat-card class="card-hero">
    <mat-card-title>Batman</mat-card-title>
    <img mat-card-image src="https://www.superherodb.com/pictures2/portraits/10/100/10441.jpg" class="image-hero">
  </mat-card>
  
  <mat-card class="card-hero">
    <mat-card-title>Batman I</mat-card-title>
    <img mat-card-image src="https://www.superherodb.com/pictures2/portraits/10/100/639.jpg" class="image-hero">
  </mat-card>
  
  <mat-card class="card-hero">
    <mat-card-title>Batman II</mat-card-title>
    <img mat-card-image src="https://www.superherodb.com/pictures2/portraits/10/100/1496.jpg" class="image-hero">
  </mat-card>
</div>

